# Expo
.expo/
dist/
web-build/

# Dependencies
node_modules/

# Native build output
android/
ios/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-start.log
expo-start.err.log

# Local environment
.env
.env.local
